
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NextLabs Secure View</title>
</head>
<body style="font-family:'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial,sans-serif;">
    <div id="nextlabs" style="background-color:#1a4994;width:100%;">
        <img src="~/Content/NextLabs.png" />
    </div>
    <h2>NextLabs Rights Management</h2>

    <div>
        <label ID="ViewErrorTip" Width="600"><font color="red">@ViewBag.errorMsg</font></label> 
    </div>
</body>
</html>
