<?xml version="1.0" encoding="utf-8"?>
<CommonMessageConfig>
  <!--don't support nxl file-->
  <!--right protect-->
  <add key="RPNxlFile" value="This file is already rights protected."/>
  <add key="RPOneNoteFile" value="This file type does not support rights protection."/>
  <add key="RPExceptionMessage" value="Rights protection file failed, please try again."/>
  <add key="RPUserPermission" value="You do not have permission to protect this item."/>
  <add key="RPFileCheckedOut" value="Please check in before protecting this item."/>
  <add key="RPFileLocked" value="Rights protection file failed, this file is locked."/>
  <add key="RPFolder" value="Folder does not support rights protection."/>
  <add key="RPNoAttachment" value="This list item does not have any attachment."/>
  <add key="RPFullOfAttachment" value="This Item is full of nxl files, do not support right protect."/>
  <add key="RPOtherList" value="The list/library does not support rights protection."/>
  <add key="RPSuccessed" value="Successfully rights protected this file."/>
  <add key="RPLibraryFailed" value="Failed rights protected this file."/>
  <add key="RPListFailed" value="Failed rights protected this item."/>
  <!--secure view-->
  <add key="SVNotNxlFile" value="This file type does not support secure view."/>
  <add key="SVNotSupportItem" value="This item does not support secure view."/>
  <add key="SVExceptionMessage" value="Failed to view the protected file."/>
  <add key="SVGetFileContentFailed" value="Failed to view the protected file."/>
  <add key="SVRemoteViewFailed" value="Failed to view the protected file. message:"/>
  <add key="SVTryAgainLater" value="Failed to view the protected file. please try again later"/>
  
  <!--common-->
  <add key="CheckInComment" value=""/>
  <add key="FailedLoginSkydrm" value="Failed to log in to SkyDrm Server."/>
</CommonMessageConfig>
